name: Continuous Deployment

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        env:
            SSH_HOST: ${{ secrets.SSH_HOST }}
            SSH_USERNAME: ${{ secrets.SSH_USERNAME }}
            SSH_KEY: ${{ secrets.SSH_KEY }}
            SSH_PORT: ${{ secrets.SSH_PORT }}
        steps:
            - name: SSH and deploy app
              uses: appleboy/ssh-action@master
              with:
                host: ${{ env.SSH_HOST }}
                username: ${{ env.SSH_USERNAME }}
                key: ${{ env.SSH_KEY }}
                port: ${{ env.SSH_PORT }}
                script: |
                  cd ~/auth-api
                  git pull origin main
                  npm install
                  npm run migrate up
                  pm2 restart auth-api
